body{
    background-color: darkcyan
}

h1{

    color:lightpink;
    text-align: center
}

ol{
    list-style-type: upper-alpha;
    margin-bottom: 10pt

}
ul{
    list-style-type: square;
    color:rgb(207, 154, 209)
}

b{
font-family: Arial;
color: blueviolet;

}

img{

    float: right;
}

a:visited{
    color:blueviolet;
}